<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <header>
      <button type="button" name="register"><a href="/register">Register</a></button>
    </header>
    <h1>Login into your account</h1>
      <form action="/login" method="POST" style="margin:100px;">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="iron_man@marvel.com" style="width: 200px">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" style="width: 200px">
        <input type="submit" value="Login">
      </form>
  </body>
</html>
